<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Condition="'$(Configuration)' == 'Local'">
    <SitecoreWebUrl>https://habitathome.dev.local</SitecoreWebUrl>
    <SitecoreDeployFolder>C:\inetpub\wwwroot\habitathome.dev.local</SitecoreDeployFolder>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <SitecoreAccessGuid>a0634f96-7e7f-4972-b425-391cb5994cf2</SitecoreAccessGuid>
  </PropertyGroup>
  <PropertyGroup Condition="'$(Configuration)' == 'Debug'">
    <SitecoreWebUrl>https://habitathome.dev.local</SitecoreWebUrl>
    <SitecoreDeployFolder>C:\inetpub\wwwroot\habitathome.dev.local</SitecoreDeployFolder>
    <InstallSitecoreConnector>True</InstallSitecoreConnector>
    <SitecoreAccessGuid>a0634f96-7e7f-4972-b425-391cb5994cf2</SitecoreAccessGuid>    
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">  
    <NuGetGenerateNuGetPackage>True</NuGetGenerateNuGetPackage>
    <NuGetExePath>..\..\..\..\..\Build\tools</NuGetExePath>
    <NuGetVersion>9.2.0.3</NuGetVersion>
    <NuGetAuthors>Sitecore Demo Team</NuGetAuthors>    
  </PropertyGroup>
  <PropertyGroup>
    <SerializationFormat>YML</SerializationFormat>
  </PropertyGroup>
</Project>