<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Feature.Forms" description="Feature Forms" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Actions.Settings.Core" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions">
              <exclude children="true">
                <except name="Assign Pattern Card" />
                <except name="Assign Pattern Card" />
              </exclude>
            </include>

            <include name="Actions.Settings" database="master" path="/sitecore/system/Settings/Forms/Submit Actions">
              <exclude children="true">
                <except name="Assign Pattern Cards" />
                <except name="Identify Contact" />
              </exclude>
            </include>
            
            <include name="FieldTypes" database="master" path="/sitecore/system/Settings/Forms/Field Types/Custom" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/Forms" />
            <include name="ValueProviders.ContactData" database="master" path="/sitecore/system/Settings/Forms/Value Providers/Contact Data" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/Forms" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Habitat Home/Forms" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>