<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Common" version="0.34.1" targetFramework="net461" />
  <package id="Cake.Core" version="0.34.1" targetFramework="net471" />
  <package id="Cake.Http" version="0.7.0" targetFramework="net461" />
  <package id="Cake.Npm" version="0.17.0" targetFramework="net461" />
  <package id="Cake.Powershell" version="0.4.8" targetFramework="net461" />
  <package id="Cake.XdtTransform" version="0.18.1" targetFramework="net461" />
  <package id="DotNet.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net471" />
</packages>