<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Analytics.Patterns.MinimalProfileScoreCount">
        <patch:attribute name="value">1</patch:attribute>
      </setting>

      <setting name="WebEdit.PlaceholdersEditableWithoutSettings">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <setting name="MessageStatistics.ApiKey" value="97CC4FC13A814081BF6961A3E2128C5B" />
      <setting name="MarketingDefinitions.ApiKey" value="DF7D20E837254C6FBFA2B854C295CB61" />

      <setting name="Caching.DisableCacheSizeLimits">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <setting name="Media.DefaultImageBackgroundColor">
        <patch:attribute name="value">White</patch:attribute>
      </setting>      
    </settings>

    <sites>
      <site name="shell">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>

    <reporting>
      <dataProvider>
        <!-- disabling reporting cache -->
        <patch:attribute name="cacheEnabled">false</patch:attribute>
      </dataProvider>
    </reporting>

    <services>
      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.MarketingAssets.IMarketingAssetDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.PageEvents.IPageEventDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Events.IEventDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Outcomes.Model.IOutcomeDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.AutomationPlans.Model.IAutomationPlanDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.ContactLists.IContactListDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Profiles.IProfileDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Subscriptions.Model.ISubscriptionDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>

      <register serviceType="Sitecore.Marketing.ObservableFeed.Activation.IActivationAsyncObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing" implementationType="Sitecore.Marketing.xMgmt.Observers.Activation.PublishItemObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Marketing.xMgmt" lifetime="Singleton">
        <patch:attribute name="implementationType">Sitecore.Demo.Shared.Website.Observers.CustomPublishItemObserver`1[[Sitecore.Marketing.Definitions.Segments.ISegmentDefinition, Sitecore.Marketing]], Sitecore.Demo.Shared.Website</patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>
